uvicorn
fastapi
pydantic

singleton_package
json-advanced
python-dotenv
debugpy
ipython

aiofiles
aiocache
httpx
usso[fastapi]

beanie
fastapi-mongo-base
ufaas-fastapi-business

apscheduler
pytz

ufiles
pillow

langdetect
openai
metisai
replicate