uvicorn
fastapi
pydantic

singleton_package
json-advanced
python-dotenv
debugpy
ipython

aiohttp
aiofiles
aiocache
usso[fastapi]

beanie
fastapi-mongo-base
ufaas-fastapi-business

metisai
langdetect
pillow
apscheduler
google-generativeai @ git+https://github.com/google-gemini/generative-ai-python@2786f33edbabc441b247e549025b3e9e5e849895
replicate
